<%= render "shared/second-header" %>
<div class="check-main">
  <table>
    <tr>
      <th>復習回数</th>
      <th>目標日</th>
      <th>完了日</th>
      <th>チェック</th>
    </tr>
    <tr>
      <td class="icon">1回目</td>
      <td><%= @question.created_at.since(2.days).strftime('%Y/%m/%d') %></td>
      <td>2000/00/00</td>
      <td><%= check_box "object-name", "property-name" %></td>
    </tr>
    <tr>
      <td class="icon">2回目</td>
      <td><%= @question.created_at.since(7.days).strftime('%Y/%m/%d') %></td>
      <td>2000/00/00</td>
      <td><%= check_box "object-name", "property-name" %></td>
    </tr>
    <tr>
      <td class="icon">3回目</td>
      <td><%= @question.created_at.since(16.days).strftime('%Y/%m/%d') %></td>
      <td>2000/00/00</td>
      <td><%= check_box "object-name", "property-name" %></td>
    </tr>
    <tr>
      <td class="icon">4回目</td>
      <td><%= @question.created_at.since(35.days).strftime('%Y/%m/%d') %></td>
      <td>2000/00/00</td>
      <td><%= check_box "object-name", "property-name" %></td>
    </tr>
    <tr>
      <td class="icon">5回目</td>
      <td><%= @question.created_at.since(62.days).strftime('%Y/%m/%d') %></td>
      <td>2000/00/00</td>
      <td><%= check_box "object-name", "property-name" %></td>
    </tr>
  </table>
</div>
<div class= "btn-position">
  <%= link_to "マイページに戻る", user_path(current_user.id), class:"my-page" %>
</div>

<%= render "shared/footer" %>