<%= render "shared/header" %>
<%= form_with model: @user, url: user_registration_path, class:'signup-main', local: true do |f| %>
<div class='main-form'>
  <div class='form-heading'>
    <h1>ユーザーアカウント作成</h1>
    <p>アカウント情報</p>
  </div>

  <%= render "devise/shared/error_messages", model: f.object %>
  <div class="form-group">
    <p class="form-label">ニックネーム<span class="indispensable">必須</span></p>
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class:"form-text"%>
  </div>

  <div class="form-group">
    <p class="form-label">メールアドレス<span class="indispensable">必須</span></p>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-text"%>
  </div>

  <div class="form-group">
    <p class="form-label">パスワード<span class="indispensable">必須</span></p>
      <%= f.password_field :password, autocomplete: "new-password", class:"form-text"%>
  </div>

  <div class="form-group">
    <p class="form-label">パスワード<span class="indispensable">確認</span></p>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-text"%>
  </div>

  <div class="signup">
    <%= f.submit "アカウント作成", class:"signup-btn"%>
  </div>
  <% end %>
  <div class="change">
    <span>すでにアカウントをお持ちですか?</span>
    <%= link_to 'ログイン', new_user_session_path, class:"change-btn" %>
  </div>
</div>