<%= render "shared/second-header" %>
<div class="layout-page">
  <div class="container">
    <div class="side-bar">
      <div class="side-bar-items">
        <%= link_to "問題投稿一覧", "#", class:"side-bar-item"%>
      </div>
    </div>
    <div class="main-wrapper">
      <div class="name-field">
        <%= @nickname %>さんのマイページ
      </div>
      <div class="main-content">
        <div class="main-content-heading">
          <div class="main-content-text">
            問題投稿一覧
          </div>
        </div>
        <div class="review-day">
          次回復習日
        </div>
        <% @question.each do |question| %>
        <div class="main-item">
          <div class="main-item-text">
            <%= question.quiz %>
          </div>
          <% if @date <= question.created_at.since(2.days).strftime('%Y/%m/%d') %>
            <div class="review-date">
              <%= question.created_at.since(2.days).strftime('%m/%d')%>
            </div>
          <% elsif @date <= question.created_at.since(7.days).strftime('%Y/%m/%d') %>
            <div class="review-date">
              <%= question.created_at.since(7.days).strftime('%m/%d')%>
            </div>
          <% elsif @date <= question.created_at.since(16.days).strftime('%Y/%m/%d') %>
            <div class="review-date">
              <%= question.created_at.since(16.days).strftime('%m/%d')%>
            </div>
          <% elsif @date <= question.created_at.since(35.days).strftime('%Y/%m/%d') %>
            <div class="review-date">
              <%= question.created_at.since(35.days).strftime('%m/%d')%>
            </div>
          <% elsif @date <= question.created_at.since(62.days).strftime('%Y/%m/%d') %>
            <div class="review-date">
              <%= question.created_at.since(62.days).strftime('%m/%d')%>
            </div>
          <% else %>
            <div class="review-date">
              <%= "習得済み"%>
            </div>
          <% end %>
        </div>
        <div class="modal hidden">
          <div class="main-item-text">
            <h2>問題文</h2>
            <div class="question-text">
              <%= question.quiz %>
            </div>
          </div>
          <%= link_to "解答", question_answers_path(question.id), class:"btn-answer"%>
          <%= link_to "編集", edit_question_path(question.id), method: :get, class:"btn-edit"%>
          <%= link_to "削除", question_path(question.id), method: :delete, class:"btn-destroy"%>
          <div class="close">
            閉じる
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="mask" class="hidden"></div>
