<%= render "shared/second-header" %>
<%= form_with model: @answer, url:question_answers_path, class:"answer-form", local: true do |f| %>
  <div class="main-form">
    <div class="form-heading">
      <h1>解答フォーム</h1>
    </div>

    <div class="form-group">
      <p class="form-label">問題</p>
      <div class="form-text">
        <%= @question.quiz %>
      </div>
    </div>

    <div class="form-group">
      <p class="form-label">解答<span class="indispensable">必須</span></p>
      <%= f.text_area :response, class: "form-text", placeholder: "解答を入力してください" %>
    </div>
    <%= f.submit "送信", class: "send-btn" %>
    <div class= "btn-position">
      <%= link_to "マイページに戻る", user_path(current_user.id), class: "change-btn" %>
    </div>
  </div>
<% end %>
<%= render "shared/footer" %>