<%= render "shared/second-header" %>
<div class="check-answer-form">
  <div class="main-form">
    <div class="form-heading">
      <h1>答え合わせ</h1>
    </div>

    <div class="form-group">
      <p class="form-label">問題</p>
      <div class="form-text">
        <%= @question.quiz %>
      </div>
    </div>

    <div class="form-group">
      <p class="form-label">自己解答</p>
      <div class="form-text">
        <%= @answer.self_answer %>
      </div>
    </div>

    <div class="form-group">
      <p class="form-label">解答</p>
      <div class="red form-text">
        <%= @question.response %>
      </div>
    </div>

    <div class="form-group">
      <p class="form-label">説明文</p>
      <div class="red sub-text">
        <%= @question.description %>
      </div>
    </div>
        <%= link_to("戻る", user_path(current_user.id), class:"f") %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>