<%= render "shared/header" %>
<%= form_with model: @user, url: user_session_path, class: 'login-main', local: true do |f| %>
<div class='main-form'>
  <div class='form-heading'>
    <h1>ログインページ</h1>
  </div>

  <div class='login-flash-message'>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
  </div>
  <div class="form-group">
    <p class="form-label">メールアドレス</p>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-text"%>
  </div>

  <div class="form-group">
    <p class="form-label">パスワード</p>
      <%= f.password_field :password, autocomplete: "new-password", class:"form-text"%>
  </div>

  <div class="login">
    <%= f.submit "ログイン", class:"login-btn"%>
  </div>
  <% end %>
  <div class="change">
    <span>アカウントをお持ちではないですか？</span>
    <%= link_to '今すぐ作成', new_user_registration_path, class:"change-btn"%>
  </div>
</div>